<app-snomed-navbar></app-snomed-navbar>
<main class="container p-5">
    <div class="row">
        <form>
            <div class="col-6">
                <h3>Basic Typeahead</h3>
                <div class="position-relative">
                    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="basicTypeahead" [ngbTypeahead]="search" placement="bottom"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-black"><h3 class="mb-0 text-white">BLACK</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-white"><h3 class="mb-0">WHITE</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-alto-white"><h3 class="mb-0">ALTO WHITE</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-ghost-grey"><h3 class="mb-0">GHOST GREY</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-grey"><h3 class="mb-0">GREY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-slate-grey"><h3 class="mb-0">SLATE GREY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-river-bed"><h3 class="mb-0 text-white">RIVER BED</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-bootstrap-black"><h3 class="mb-0 text-white">BOOTSTRAP BLACK</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-wisteria"><h3 class="mb-0">WISTERIA</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-mandy"><h3 class="mb-0">MANDY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-sea-buckthorn"><h3 class="mb-0">SEA BUCKTHORN</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-candlelight"><h3 class="mb-0">CANDLELIGHT</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-fruit-salad"><h3 class="mb-0">FRUIT SALAD</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-anakiwa"><h3 class="mb-0">ANAKIWA</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-cerulean"><h3 class="mb-0">CERULEAN</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded bg-blumine"><h3 class="mb-0">BLUMINE</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary" (click)="toastrSuccess()">TOASTR SUCCESS</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" (click)="toastrWarning()">TOASTR WARNING</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" (click)="toastrError()">TOASTR ERROR</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" (click)="toastrInfo()">TOASTR INFO</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" (click)="toastrShow()">TOASTR SHOW</button>
        </div>
    </div>
</main>
<app-snomed-footer></app-snomed-footer>
