<app-snomed-navbar></app-snomed-navbar>
<main class="container p-5">
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-black"><h3 class="mb-0 text-white">BLACK</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-white"><h3 class="mb-0">WHITE</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-alto-white"><h3 class="mb-0">ALTO WHITE</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-ghost-grey"><h3 class="mb-0">GHOST GREY</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-grey"><h3 class="mb-0">GREY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-slate-grey"><h3 class="mb-0">SLATE GREY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-river-bed"><h3 class="mb-0 text-white">RIVER BED</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-bootstrap-black"><h3 class="mb-0 text-white">BOOTSTRAP BLACK</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-wisteria"><h3 class="mb-0">WISTERIA</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-mandy"><h3 class="mb-0">MANDY</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-sea-buckthorn"><h3 class="mb-0">SEA BUCKTHORN</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-candlelight"><h3 class="mb-0">CANDLELIGHT</h3></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-fruit-salad"><h3 class="mb-0">FRUIT SALAD</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-anakiwa"><h3 class="mb-0">ANAKIWA</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-cerulean"><h3 class="mb-0">CERULEAN</h3></div>
        </div>
        <div class="col-sm">
            <div class="p-5 m-3 rounded-lg bg-blumine"><h3 class="mb-0">BLUMINE</h3></div>
        </div>
    </div>
</main>
<app-snomed-footer></app-snomed-footer>
